.homeComponent {
  display: flex;
  flex-flow: column wrap;
}

.homeComponent .jumbotron {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
  height: 600px;
  background-image: url("/img/jumbotron.png");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeComponent .jumbotron h1 {
  color: white;
  font-weight: bold;
  font-size: 72px;
}

.homeComponent .jumbotron h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
}

.homeComponent .jumbotron h3 {
  padding: 70px;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
