.footer {
  background-color: #222;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.footer * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .footerMenu ul {
  list-style-type: none;
}
.footer .footerMenu li {
  padding: 1px 1px;
}
.footer .content {
  color: gray;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}
.footer .content h4 {
  color: lightgray;
}
.footer .content div,
.footer .content p {
  margin: 0 15%;
  padding: 5px 15px;
  width: 100%;
  text-align: center;
}
.footer .contactInfo p {
  text-align: center;
  padding: 0px 0px !important;
  margin: 0px 0px;
}
.footer .line {
  width: 100% !important;
  text-align: center;
}
.footer .line hr {
  margin-left: 5%;
  margin-right: 5%;
  height: 0px;
  border: 2px solid gray;
  border-radius: 5px;
}
.footer .devnote {
  color: lightgray;
  margin-bottom: 10px;
}

/*Desktop*/
@media all and (min-width: 900px) {
  .footer .content {
    flex-wrap: nowrap;
  }

  .footer .content div {
    margin: 5px 5px;
    flex-basis: 25%;
    align-self: start;
    display: block;
    width: auto;
    text-align: center;
  }
  .footer .line {
    width: 100%;
    align-self: center !important;
  }
  .footer .content p {
    margin: 5px 5px;
    align-self: flex-end;
  }
  .footer .contactInfo p {
    text-align: left;
  }
}
