.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.appBody {
  text-align: justify;
  flex-grow: 2;
  align-self: center;
  padding: 20px 20px;
}

@media all and (min-width: 600px) {
  .appBody {
    width: 550px;
  }
}

@media all and (min-width: 900px) {
  .appBody {
    width: 850px;
  }
}

@media all and (min-width: 1360px) {
  .appBody {
    width: 1280px;
  }
}
