.workComponent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.BrainhubCarousel__container {
  padding: 10px;
  min-width: 200px;
  max-width: 900px;
}
.BrainhubCarousel {
  padding-bottom: 5px;
}

.BrainhubCarousel__arrows {
  background-color: transparent !important;
}
.BrainhubCarousel__arrows span {
  border-color: #222;
}
.BrainhubCarousel__arrows:hover:enabled span {
  border-color: #222;
}
h3 a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}
.workComponent h1,
.workComponent h2,
.workComponent h3,
.workComponent h4,
.workComponent h5 {
  width: 100%;
  text-align: center;
}

.workComponent .meme {
  background-position: center;
  background-repeat: no-repeat;
  width: 480px;
  max-width: 90%;
  height: 270px;
  margin: 10px;
}
.workComponent .meme div {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  color: black;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  padding-left: 5%;
  padding-top: 5%;
}

.workComponent .joinus {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #444;
  font-style: italic;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  max-width: 100%;
  min-width: 100%;
}
